
body {
    background-color: #e9bbed;
}

h1 {
    color: white;
    text-align:center;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

      
        .topnav a:hover {
            background-color: lightpink;
            color: black;
        }

      
        .topnav a.active {
            background-color: lightgrey;
            color: white;
        }

        .about{
            font-size:30px;
        }

.lines {
    border: 1px solid black;
    border-collapse: collapse;
    font-size:24px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust as needed */
}

td {
    text-align:center;
}

th, td, tr {
    text-align: center;
    font-size: 30px;
}
.small{
 width :350px;
}

.container {
    display: grid;
    grid-template-columns:auto auto auto;
}